table {
  border-style: solid;
}

th,
td {
  border-style: solid;
}

tr:nth-of-type(n).green {
  background-color: Aquamarine;
}

tr:nth-of-type(n).blue {
  background-color: darkcyan;
}

div.outer-content {
  background-color: pink;
  width: 75%;
  height: 40px;
  top: 20px;
}

div.inner-content {
  background-color: blue;
  margin: auto;
  position: relative;
  top: 25%;
  width:75%;
  height: 50%;
}
